<h1>Welcome to Life Tracker!</h1>
<h2>It tracks schools you've attended and life events experienced!</h2>

<h3> Who are you?</h3>

<%= link_to 'People', people_path %>

<%= link_to 'Life Events', life_events_path %>

<%= link_to 'Schools', schools_path %>
